openai
streamlit
langchain
langchain-community==0.0.26
chromadb
python-dotenv
tqdm
sentence-transformers
PyPDF2
gTTS==2.5.1
SpeechRecognition==3.10.1
google-api-python-client
serpapi
git+https://github.com/scholarly-python-package/scholarly.git
playsound==1.2.2
faiss-cpu
requests
beautifulsoup4
langdetect==1.0.9
pillow==9.5.0  # ✅ stable version that avoids build errors
